body {
  background-color: #000000;
  color: #000000;
}
h1 {
  color: #f00000;
  font-weight: bolder;
  font-style: italic;
}
h3 {
  font-style: italic;
  color: #f95757;
}
h4 {
  font-style: italic;
  color: #ffe9c8;
}
.header {
  padding: 0.5%;
  margin: 0.5%;
  text-align: center;
}
.quiz {
  padding: 0.5%;
  margin: 0.5%;
  background-color:	#fff9f9;
}
.result {
  padding: 0.5%;
  margin: 0.5%;
  background-color:	#fff9f9;
}

#result1 {
  display: none;
}
#result2 {
  display: none;
}
#result3 {
  display: none;
}
#result4 {
  display: none;
}
#result5 {
  display: none;
}
